@model topmeperp.Models.MapInfoModels
<div class="container-fluid">
    <h3>設備圖算數量</h3><br/>
    <h5>@ViewBag.Result1</h5>
    @if (null != Model)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>設備名稱</th>
                    <th>設備數量</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.mapDEVICE)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.LOC_DESC)</td>
                        <td>@Html.DisplayFor(modelItem => item.QTY)</td>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p></p>
    }
</div>
