@{
    ViewBag.Title = "備標作業-專案清單";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<!--專案搜尋區條件區域-->
<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <form name="FormSearchProject" id="FormSearchProject" action="Search" method="Post">
                專案名稱: <input id="textProejctName" name="textProejctName" type="text" />
                <input id="Submit1" type="submit" value="查詢" />
            </form>
        </div>
        <div class="col-md-4">
            <span class='glyphicon glyphicon-plus' aria-hidden='true'></span>
            <button class="btn-link">  @Html.ActionLink("新增專案", "Create")</button>
        </div>
    </div>
</div>
<!--專案列表區域-->
<div class="container">
    @ViewBag.SearchResult
    @if (null != Model)
    {
        Html.RenderPartial("ProjectList");
    }
</div>
