@{
    ViewBag.Title = "備標作業-專案清單";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<!--專案搜尋區條件區域-->
<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <form name="FormSearchProject" id="FormSearchProject" action="Search" method="Post">
                專案名稱: <input class="form-control" id="textProejctName" name="textProejctName" type="text" />
                <input id="Submit1" type="submit" class="btn btn-info" value="查詢" />

                <a href="Create" class="btn btn-warning">新增專案</a>
                <div id="divProcessing">
                    <img src="~/Content/ajax-loader.gif">
                </div>
            </form>
        </div>
    </div>
</div>
<!--專案列表區域-->
<div class="container">
    @ViewBag.SearchResult
    @if (null != Model)
    {
        Html.RenderPartial("ProjectList");
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        // Hide the "busy" Gif at load:
        $("#divProcessing").hide();
        // Attach click handler to the submit button:
        $('#login').click(function () {
            $("#divProcessing").show();
        });
    });
</script>

