@{
    ViewBag.Title = "備標作業-專案清單";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<!--專案搜尋區條件區域-->
<div class="container">
    <form name="FormSearchProject" id="FormSearchProject" action="Search" method="Post">
        專案名稱: <input id="textProejctName" name="textProejctName" type="text" />
        <input id="Submit1" type="submit" value="查詢" />
    </form>
    <br />
    <h4><span class='glyphicon glyphicon-plus' aria-hidden='true'></span>  @Html.ActionLink("新增專案", "Create")</h4>
</div><br/>
    <div>
    @{
        Html.RenderAction("Upload");
     }
</div><br/><br />
<div>
    @ViewBag.SearchResult
    @if (null != Model)
    {
        Html.RenderPartial("ProjectList");
    }
</div>

<!--專案列表區域-->

