@model IEnumerable<topmeperp.Models.TND_TASKASSIGN> 

<div class="container">
    <h2>工作分派明細表</h2>
    <div>
        <table class="table table-bordered">
                <tr>
                    <th>負責人員</th>
                    <th>負責項目</th>
                    <th>備註</th>
                    <th>預定完成時間</th>
                    <th>簽名</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.USER_ID)
                        <td>
                            @Html.DisplayFor(modelItem => item.TASK_ITEM)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FINISH_DATE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.REMARK)
                        </td>
                        <td></td>
                    </tr>
                }
        </table>
    </div>
</div>

