@{
    ViewBag.Title = "工作任務分派";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<div class="container-fluid">
    <div class="col-md-12">
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#textbox1').focus();

            $("#addButton").click(function () {
                var currentCount = parseInt($('#TextBoxCount').val(), 10);
                var newCount = currentCount + 1;

                var newColumnDiv =
                    $(document.createElement('div')).attr("class", 'col-md-10');

                var newTextBoxDiv =
                    $(document.createElement('div')).attr(
                    {
                        "id": 'TextBoxScope' + newCount,
                        "class": "form-group"
                    });

                newTextBoxDiv.appendTo(newColumnDiv);

                newTextBoxDiv.after().html(
                    '<label>工作任務 No.' + newCount + ' : </label>' +
                    '<input type="text"' +
                    ' name="textbox' + newCount + '" id="textbox' + newCount + '"' +
                    ' value="" class="form-control">');

                newColumnDiv.appendTo("#TextBoxesGroup");
                $('#TextBoxCount').val(newCount);
                $('#textbox' + newCount).focus();
            });

            $("#removeButton").click(function () {
                var currentCount = parseInt($('#TextBoxCount').val(), 10);
                if (currentCount == 0) {
                    alert("已經沒有東西可以移除啦");
                    return false;
                }
                $("#TextBoxScope" + currentCount).remove();
                var newCount = currentCount - 1;
                $('#TextBoxCount').val(newCount);
            });

        });
    </script>
    </div>
    <div class="container">
    <h3>工作分派</h3>
    <div class="well" role="form">
        <div class="row" id="TextBoxesGroup">
            <div class="col-sm-10">
                <div id="TextBoxScope1" class="form-group">
                        <table border="1">
                            <tr>
                                <td>工作任務 No.1 :</td>
                                <td>負責人員</td>
                                <td>負責項目</td>
                                <td>預定完成時間</td>
                                <td>簽名</td>
                            <tr>
                    <td>
                    <input type="text" id='textbox1' name="textbox1" class="form-control" />
                    </td>
                    <td><input type="text" id='textbox1' name="textbox1" class="form-control" /></td>
                    <td><input type="text" id='textbox1' name="textbox1" class="form-control" /></td>
                    <td><input type="text" id='textbox1' name="textbox1" class="form-control" /></td>
                                

                    </table>
                </div>
            </div>
        </div>
    </div>
    <hr />
    @Html.Hidden("TextBoxCount", 1)
    <input type="button" class="btn btn-primary" value="增加一列" id='addButton' />
    <input type="button" class="btn btn-info" value="刪除一列" id='removeButton' />
    <input type="submit" class="btn btn-success" value="送出" />
</div>          