body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input {
    max-width: 280px;
}

textarea {
    max-width: 500px;
}

/*表头固定*/
.fixed_headers thead tr {
    display: block;
    position: relative;
}
.fixed_headers tbody {
    display: block;
    overflow: auto;
    height: 500px;
}
/* 每列宽度
//每列宽度*/
.fixed_headers td:nth-child(1),
.fixed_headers th:nth-child(1) {
    width: 70px; /**功能 */
}
.fixed_headers td:nth-child(2),
.fixed_headers th:nth-child(2) {
    width: 150px;/**No. */
}
.fixed_headers td:nth-child(3),
.fixed_headers th:nth-child(3) {
    width: 70px;/**項次 . */
    overflow: auto;
}
.fixed_headers td:nth-child(4),
.fixed_headers th:nth-child(4) {
    width: 350px;/**項目說明  . */
}
.fixed_headers td:nth-child(5),
.fixed_headers th:nth-child(5) {
    width: 50px;/**單位  . */
}
.fixed_headers td:nth-child(6),
.fixed_headers th:nth-child(6) {
    width: 100px;/**數量  . */
}
.fixed_headers td:nth-child(7),
.fixed_headers th:nth-child(7) {
    width: 100px;/**單價   . */
}
.fixed_headers td:nth-child(8),
.fixed_headers th:nth-child(8) {
    width: 150px;/**備註   . */
}
.fixed_headers td:nth-child(9),
.fixed_headers th:nth-child(9) {
    width: 50px;/**九宮格   . */
}
.fixed_headers td:nth-child(10),
.fixed_headers th:nth-child(10) {
    width: 50px;/**次九宮格   . */
}
.fixed_headers td:nth-child(11),
.fixed_headers th:nth-child(11) {
    min-width: 120px;/**主系統  . */
}
.fixed_headers td:nth-child(12),
.fixed_headers th:nth-child(12) {
    width: 120px;
}

.fixed_headers1 thead tr {
    display: block;
    position: relative;
}
.fixed_headers1 tbody {
    display: block;
    overflow: auto;
    height: 400px;
}
/* 每列宽度
//每列宽度*/
.fixed_headers1 td:nth-child(1),
.fixed_headers1 th:nth-child(1) {
    width: 100px; /**九宮格 */
}
.fixed_headers1 td:nth-child(2),
.fixed_headers1 th:nth-child(2) {
    width: 100px;/**次九宮格 */
}
.fixed_headers1 td:nth-child(3),
.fixed_headers1 th:nth-child(3) {
    width: 220px;/**名稱 */
}
.fixed_headers1 td:nth-child(4),
.fixed_headers1 th:nth-child(4) {
    width: 130px;/**合約金額 */
}
.fixed_headers1 td:nth-child(5),
.fixed_headers1 th:nth-child(5) {
    width: 130px;/**材料成本*/
}
.fixed_headers1 td:nth-child(6),
.fixed_headers1 th:nth-child(6) {
    width: 60px;/**材料預算比率*/
}
.fixed_headers1 td:nth-child(7),
.fixed_headers1 th:nth-child(7) {
    width: 130px;/**工資成本*/
}
.fixed_headers1 td:nth-child(8),
.fixed_headers1 th:nth-child(8) {
    width: 60px;/**工資預算比率*/
}
.fixed_headers1 td:nth-child(9),
.fixed_headers1 th:nth-child(9) {
    width: 150px;/**預算金額*/
}



