@model IEnumerable<topmeperp.Models.TND_PROJECT_ITEM>
<div class="container" style="width:auto;height:auto;overflow-x:hidden;overflow-y:auto;padding-top:5px;">
    <label id="Message" class="alert-danger">@ViewBag.Message</label>
    @if (Model != null)
    {
        <div class="row">
            <div class="row panel-heading label-info">設備(MAP_DEVICE)</div>
            <table class="table">
                <tr>
                    <th>編號</th>
                    <th>設備名稱</th>
                    <th>數量</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td><input type="checkbox" id="map_device" name="map_device" value="@item.PROJECT_ITEM_ID" /></td>
                        <td>@Html.DisplayFor(modelItem => item.ITEM_DESC)</td>
                        <td style="">@Html.DisplayFor(modelItem => item.ITEM_DESC)</td>
                    </tr>
                }

            </table>
        </div>
    } else {
    <div class="row alert-danger">尚未設定施作項目!!</div>
    }
</div>
