@ViewBag.Result

<div class="container">
    <div class="row panel-heading">設備(MAP_DEVICE)</div>
    <div class="row">
        <table class="table">
            <tr>
                <th></th>
                <th>圖號</th>
                <th>區域或棟別</th>
                <th>位置(一次側)</th>
                <th>位置(二次側)</th>
                <th>設備名稱</th>
                <th>數量</th>
            </tr>
            <tr>
                <td><inpu ttype="checkbox" id=""></td>
                <td>No1</td>
                <td>BF</td>
                <td></td>
                <td></td>
                <td>盤</td>
                <td>2</td>
            </tr>
        </table>
    </div>
</div>
<div class="container">
    <div class="row panel-heading"> 電器管線(MAP_PEP)</div>
    <div class="row">
    </div>
</div>
<div class="container">
    <div class="row panel-heading">弱電管線(MAP_LCP)</div>
    <div class="row">
    </div>
</div>
<div class="container">
    <div class="row panel-heading">給排水(TND_MAP_PLU)</div>
    <div class="row">
    </div>
</div>
<div class="container">
    <div class="row panel-heading">消防電(MAP_FP)</div>
    <div class="row">
    </div>
</div>
<div class="container">
    <div class="rowpanel-heading ">消防水(MAP_FW)</div>
    <div class="row">
    </div>
</div>
