@{
    ViewBag.Title = "專案任務-作業項目";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<link href="../../Content/bootstrap-treeview.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../../Scripts/bootstrap-treeview.js"></script>
<!--條件區域-->
<div class="page-header">
    <div class="row">
        <label class="col-md-2 control-label">專案編號: </label>
        <div class="col-md-10">
            <input type="text" name="projectid" id="projectid" value="@ViewBag.projectId" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>專案任務</h2>
            <div id="treeview5" class=""></div>
        </div>
        <div class="col-md-6">
            圖算資料
            <div class="container">
                <div class="row">設備(MAP_DEVICE)</div>
                <div class="row">電器管線(MAP_PEP)</div>
                <div class="row">弱電管線(MAP_LCP)</div>
                <div class="row">給排水(TND_MAP_PLU)</div>
                <div class="row">消防電(MAP_FP)</div>
                <div class="row">消防水(MAP_FW)</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // Hide the "busy" Gif at load:
        $("#divProcessing").hide();
        // Attach click handler to the submit button:
        $('#btnQuery').click(function () {
            $("#divProcessing").show();
        });
    });
    function setRootTask(prjuid) {
        alert("click=" + prjuid);
        var URLs = "setRootFlag";
        $.ajax({
            url: URLs,
            data: { "projectid": $("#projectid").val(), "prjuid": prjuid },
            type: "POST",
            dataType: 'text',
            success: function (msg) {
                alert(msg);
                if (location.endsWith('prjuid=')) {
                    location = location + prjuid;
                } else {
                    location = location;
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
            }
        });
    }
    /*<!--樹狀圖區塊 範例*/
    $(function() {
        var defaultData = [
          {
              text: 'Parent 1',
              href: '#parent1',
              tags: ['4'],
              nodes: [
                {
                    text: 'Child 1',
                    href: '#child1',
                    tags: ['2'],
                    nodes: [
                      {
                          text: 'Grandchild 1',
                          href: '#grandchild1',
                          tags: ['0']
                      },
                      {
                          text: 'Grandchild 2',
                          href: '#grandchild2',
                          tags: ['0']
                      }
                    ]
                },
                {
                    text: 'Child 2',
                    href: '#child2',
                    tags: ['0']
                }
              ]
          },
          {
              text: 'Parent 2',
              href: '#parent2',
              tags: ['0']
          },
          {
              text: 'Parent 3',
              href: '#parent3',
              tags: ['0']
          },
          {
              text: 'Parent 4',
              href: '#parent4',
              tags: ['0']
          },
          {
              text: 'Parent 5',
              href: '#parent5'  ,
              tags: ['0']
          }
        ];

        $('#treeview5').treeview({
            color: "#428bca",
            expandIcon: 'glyphicon glyphicon-chevron-right',
            collapseIcon: 'glyphicon glyphicon-chevron-down',
            nodeIcon: 'glyphicon glyphicon-bookmark',
            data: defaultData
        });
    })
</script>
