@{
    ViewBag.Title = "專案任務-作業項目";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<link href="../../Content/bootstrap-treeview.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../../Scripts/bootstrap-treeview.js"></script>
<!--條件區域-->

<div class="container">
    <div class="row">
        <div class="col-md-6" style="height:600px;overflow-x:auto;">
            <h2>專案任務</h2>
            <div id="treeview"></div>
        </div>
        <div class="col-md-6">
            <h2>施作內容</h2>
            <div class="container">
                <form name="formQueryForm" id="formQueryForm">
                    <div class="row panel-heading">
                        <div class="col-md-12">
                            <input type="text" name="projectid" id="projectid" value="@ViewBag.projectId" readonly />
                            <label class="control-label" for="mapno">圖號: </label><input type="text" name="mapno" id="mapno" value="" size="5" />
                            <label class="control-label" for="buildno">區域或棟別: </label><input type="text" name="buildno" id="buildno" value="" size="5" /><br />
                            <label class="control-label" for="primeside">位置(一次側): </label><input type="text" name="primeside" id="primeside" value="" size="5" />
                            <label class="control-label" for="secondside">位置(二次側): </label><input type="text" name="secondside" id="secondside" value="" size="5" />
                            <label class="control-label" for="secondside">設備名稱: </label><input type="text" name="devicename" id="devicename" value="" size="5" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label" for="mapType">施作項目:</label>
                            <input type="checkbox" name="mapType" id="mapType" value="MAP_DEVICE" title="設備" />設備
                            <input type="checkbox" name="mapType" id="mapType" value="MAP_PEP" title="電器管線" />電器管線
                            <input type="checkbox" name="mapType" id="mapType" value="MAP_LCP" title="弱電管線" />弱電管線
                            <input type="checkbox" name="mapType" id="mapType" value="TND_MAP_PLU" title="給排水" />給排水
                            <input type="checkbox" name="mapType" id="mapType" value="MAP_FP" title="消防電" />消防電
                            <input type="checkbox" name="mapType" id="mapType" value="MAP_FW" title="消防水" />消防水
                            <button class="btn btn-info" type="button" onclick="getMapItem4Task()">查詢</button>
                        </div>
                    </div>
                </form>
            </div>
            <form  id="formMapItem" name="formMapItem">
                <input type="text" id="checkNodeId" name="checkNodeId" value="" />
                <input type="text" id="projectid" name="projectid" value="@ViewBag.projectId" />
                <div class="container" id="MapItem" style="width:600px;">
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    //將樹狀資料由Server端產生
    var chkNodeId;
    var defaultData = [@Html.Raw(ViewBag.TreeString)];
    $('#treeview').treeview({
        data: defaultData,
        showIcon: false,
        showCheckbox: true,
        showTags: true,
        onNodeChecked: function (event, node) {
            $('#treeview').treeview('uncheckAll', { silent: true });
            $('#checkable-output').prepend('<p>' + node.text + ' was checked</p>');
            $('#treeview').treeview('checkNode', [node.nodeId, { silent: true }]);
            // chkNodeId = node.href;
            $('#checkNodeId').val(node.href);
            //alert(node.nodeId);
        },
        onNodeUnchecked: function (event, node) {
            $('#checkable-output').prepend('<p>' + node.text + ' was unchecked</p>');
            $('#checkNodeId').val("");
        }
    });

    function getMapItem4Task() {
        $.ajax({
            url: "getMapItem4Task",
            data: $('#formQueryForm').serialize(),
            method: "POST",
            dataType: "html",
            success: function (result) {
                $("#MapItem").html(result);
            }
        })
    }
    ///選擇圖算
    function choiceMapItem() {
        var formData = $("#formMapItem").serialize();
        console.log(formData);
        $.ajax({
            url: "choiceMapItem",
            data: formData,
            method: "POST",
            dataType: "text",
            success: function (result) {
                alert(result);
               // $("#MapItem").html(result);
            }
        })
    }
</script>
