@model IEnumerable<topmeperp.Models.PLAN_ACCOUNT>

<div class="container">
    <h2 class="text-center" style="padding-top:50px;">收入明細</h2>
</div>
<input type="button" class="btn btn-success" onclick="closewin();" value="關閉">
<div style="padding-top:30px;">
    <table class="table">
        <tr>
            <th>
                帳款類別
            </th>
            <th>
                帳款單據編號(可點選連結)
            </th>
            <th>
                預計入帳日期
            </th>
            <th>
                金額
            </th>
            <th>
                暫不入帳
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @if (item.ACCOUNT_TYPE == "R")
                {
                    <td>業內收入</td>
                }
                else
                {
                    <td>業外收入</td>
                }
                <td>
                    <a href="/CashFlow/SingleEXPForm?id=@item.ACCOUNT_FORM_ID" target="_blank">@item.ACCOUNT_FORM_ID</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PAYMENT_DATE, "LongDateTime")
                </td>
                <td>
                    @String.Format("{0:$#,##0.#}", item.AMOUNT)
                </td>
                @if (item.STATUS == 10)
                {
                    <td>
                        <input type="checkbox" id="status" name="status" value="0" />
                    </td>
                }
                else
                {
                    <td>
                        <input type="checkbox" id="status" name="status" value="0" checked />
                    </td>
                }
            </tr>
        }
    </table>
</div>
<script type="text/javascript">
    function closewin() {
        window.open('', '_self', ''); window.close();
    }
</script>