
@{
    ViewBag.Title = "公司費用新增作業 : ";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
<div class="jumbotron">
    <h3 style="height:10px;line-height:5px">@ViewBag.Title</h3>
    <div class="row" ng-app="" ng-controller="MyCtrl">
        <form name="FormSearchSubject" id="FormSearchSubject" action="SearchSubject" method="Post">
            <div class="row" style="padding-top:20px">
                <div class="col-md-12">
                    <h4>請勾選要輸入的費用項目名稱 : </h4>
                </div>
                <div class="col-md-10" type="horizontal">
                    <span style="color:cornflowerblue; font-size: 18px;">
                        <label ng-repeat="key in keys">
                            <input type="checkbox" id="subject" name="subject" value="{{key.FIN_SUBJECT_ID}}" />{{key.SUBJECT_NAME}}
                        </label>
                    </span>
                </div>
                <div class="col-md-2">
                    <div id="divProcessing">
                        <img src="~/Content/ajax-loader.gif">
                    </div>
                    <div class="row" style="padding-top:22px">
                        <input id="Submit1" type="submit" class="btn btn-info" value="確定挑選" />
                        <input type="button" class="btn btn-success" onclick="history.back()" value="回上一頁">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--標單項目列表區域-->
<div class="container-fluid">
    @if (null != Model)
    {
        Html.RenderPartial("_SubjectList");
    }

</div>

<script type="text/javascript">
    $(document).ready(function () {
        // Hide the "busy" Gif at load:
        $("#divProcessing").hide();
        // Attach click handler to the submit button:
        $('#Submit1').click(function () {
            $("#divProcessing").show();
        });
    });

    function MyCtrl($scope) {
        $scope.keys = @Html.Raw(ViewData["items"]);
    }

    function GetCheckedValue(checkBoxName) {
        return $('input:checkbox[name=' + checkBoxName + '][checked=true]').map(function () {
            return $(this).val();
        })
          .get().join(',');
    }
</script>