@{
    ViewBag.Title = "物料管理-申購作業";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<link href="../../Content/bootstrap-treeview.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../../Scripts/bootstrap-treeview.js"></script>
<!--條件區域-->

<div class="container">
    <div class="row">
        <h2>點選任務進行申購作業：</h2>
        @using (Html.BeginForm("Application", "MaterialManage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-4 form-group" style="padding-top:10px">
                    <label for="id">專案編號:</label><input id="id" name="id" type="text" value="@ViewBag.projectid" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
                </div>
                <div class="col-md-4" style="padding-top:10px">
                    <label for="projectName">專案名稱:</label><input id="projectName" name="projectName" type="text" value="@ViewBag.projectName" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
                </div>
                <div class="col-md-4" style="padding-top:30px">
                    <input type="button" class="btn btn-success" onclick="history.back()" value="回上一頁">
                </div>
            </div>
                <input type="hidden" id="checkNodeId" name="checkNodeId" value="" />
                <div id="treeview"></div>


                <div class="row">
                    <div class="" col-md-12">
                        <input type="submit" value="申購物料" class="btn btn-default" />
                    </div>
                </div>
        }
    </div>
</div>

<script type="text/javascript">
    //將樹狀資料由Server端產生
    var chkNodeId;
    var defaultData = [@Html.Raw(ViewBag.TreeString)];
    $('#treeview').treeview({
        data: defaultData,
        showIcon: false,
        showCheckbox: true,
        showTags: true,
        onNodeChecked: function (event, node) {
            $('#treeview').treeview('uncheckAll', { silent: true });
            $('#checkable-output').prepend('<p>' + node.text + ' was checked</p>');
            $('#treeview').treeview('checkNode', [node.nodeId, { silent: true }]);
            // chkNodeId = node.href;
            $('#checkNodeId').val(node.href);
            //alert(node.nodeId);
        },
        onNodeUnchecked: function (event, node) {
            $('#checkable-output').prepend('<p>' + node.text + ' was unchecked</p>');
            $('#checkNodeId').val("");
        }
    });
</script>
