
<form id="formEST" name="formEST">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>期別</th>
                <th>+ 代付支出<a href="/Estimation/AddRePayment/@ViewBag.paymentkey" target="_blank">＠</a></th>
                <th>- 外勞扣款</th>
                <th>= 小計</th>
                <th>- 保留款 <input type="text" id="retention" name="retention" value="@ViewBag.retention" readonly="readonly" style="width:60px;" />%</th>
                <th>- 預付款<a href="/Estimation/AdvancePayment/@ViewBag.paymentkey" target="_blank">＠</a></th>
                <th>- 代付扣回<a href="/Estimation/RePayment/@ViewBag.paymentkey" target="_blank">＠</a></th>
                <th>- 其他扣款<a href="/Estimation/OtherPayment/@ViewBag.paymentkey" target="_blank" id="otherPay">＠</a></th>
                <th>= 應付金額</th>
                <th>+ 營業稅</th>
                <th>= 實付金額</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>前期累計</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>本期金額</td>
                <td><input type="text" id="re_payment" name="re_payment" value="0" style="width:80px;" /></td>
                <td><input type="text" id="foreign_payment" name="foreign_payment" value="0" style="width:80px;" /></td>
                <td><input id="Amount" name="Amount" type="text" value="" style="width:80px;" /></td>
                <td><input type="text" id="retentionAmount" name="retentionAmount" value="" style="width:80px;" /></td>
                <td><input type="text" id="advanceAmount" name="advanceAmount" value="0" style="width:80px;" /></td>
                <td><input type="text" id="re_payment_deduction" name="re_payment_deduction" value="0" style="width:80px;" /></td>
                <td><input type="text" id="other_deduction" name="other_deduction" value="" onfocus="getOtherPayment('@ViewBag.formid')" style="width:80px;" /></td>
                <td><input id="PayableAmount" name="PayableAmount" type="text" value="" style="width:80px;" /></td>
                <td><input type="text" id="taxAmount" name="taxAmount" value="" style="width:80px;" /></td>
                <td><input id="PaidAmount" name="PaidAmount" type="text" value="" style="width:80px;" /></td>
            </tr>
            <tr>
                <td>累計金額</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</form>

<script type="text/javascript">

    function getOtherPayment(formid) {
        $.ajax({
            url: "/Estimation/getOtherPayment",
            type: "GET",
            data: { formid: formid },
            dataType: "JSON",
            success: function (data) {
                $('#other_deduction').val(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Error get data from ajax');
            }
        });
    }

    $('#Amount').focus(function () {
        var re_payment = parseFloat($("#re_payment").val());
        var foreign_payment = - parseFloat($("#foreign_payment").val());
        var totalAmount = parseFloat($("#totalAmount").val());
        var sum = parseInt(re_payment + foreign_payment + totalAmount);
        if (sum != null) {
            $('#Amount').val(sum);
        }
    });
    $('#Amount').focus(function () {
        var retention = parseFloat($("#retention").val());
        var totalAmount = parseFloat($("#totalAmount").val());
        var sum = parseInt(retention * totalAmount / 100 * 1.05);
        if (sum != null) {
            $('#retentionAmount').val(sum);
        }
    });
    $('#Amount').focus(function () {
        var retentionAmount = - parseFloat($("#retentionAmount").val());
        var Amount = parseFloat($("#Amount").val());
        var advanceAmount = - parseFloat($("#advanceAmount").val());
        var re_payment_deduction = - parseFloat($("#re_payment_deduction").val());
        var other_deduction = - parseFloat($("#other_deduction").val());
        var sum = parseInt(Amount + retentionAmount + advanceAmount + re_payment_deduction + other_deduction);
        if (sum != null) {
            $('#PayableAmount').val(sum);
        }
    });

    $('#taxAmount').focus(function () {
        var method1 = $('input[name=tax]:radio:checked').val();
        if (method1 == "E") {
            var taxratio = parseFloat($("#taxratio").val());
            var totalAmount = parseFloat($("#totalAmount").val());
            var retention = parseFloat($("#retention").val());
            var sum = parseInt(totalAmount * taxratio / 100 - (totalAmount * retention / 100 * taxratio / 100) );
            if (sum != null) {
                $('#taxAmount').val(sum);
            }
        }
        else {
            var taxAmount = 0;
            if (taxAmount != null) {
                $('#taxAmount').val(taxAmount);
            }
        }

    });

    $('#taxAmount').focus(function () {
        var PayableAmount = parseFloat($("#PayableAmount").val());
        var taxAmount = parseFloat($("#taxAmount").val());
        var sum = parseInt(PayableAmount + taxAmount);
        if (sum != null) {
            $('#PaidAmount').val(sum);
        }
    });


</script>
