@model topmeperp.Models.ExpenseBudgetModel
@{
    ViewBag.Title = "工地費用預算執行彙整表";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="page-header">
    <h2 style="padding-bottom:15px;">工地費用預算執行彙整表 : </h2>
    <form name="formSearchSiteExpSummary" id="formSearchSiteExpSummary" action="/Estimation/SearchSiteExpSummary" method="Post" class="form-inline">
        <input id="projectid" name="projectid" type="hidden" value="@ViewBag.projectid" class="form-control" style="background-color:#cccccc;" readonly="readonly" />
        <div class="col-md-4" style="padding-top:7px; padding-bottom:15px">
            <label for="projectName">專案名稱:</label><input id="projectName" name="projectName" type="text" value="@ViewBag.projectName" class="form-control" style="background-color:#cccccc; width:300px" readonly="readonly" />
        </div>
        <div class="row col-md-12" style="padding-bottom : 30px">
            <div class="row col-md-5" style="padding-bottom:10px">
                <input type="radio" id="searchKey" name="searchKey" value="S" checked/>
                <label for="yearSequence">依年度查詢 :</label> <input id="yearSequence" name="yearSequence" type="text" placeholder="例如查詢專案第1年度，請輸入1" style="width:250px" class="form-control" />
            </div>
            <div class="row col-md-5" style="padding-bottom:10px">
                <input type="radio" id="searchKey" name="searchKey" value="D"/>
                <label for="date">依年月累計 :</label> <input id="date" name="date" type="text" value="" style="width:250px" class="form-control" placeholder="請選取要查詢的年月"/>
            </div>
            <div class="col-md-1 pull-left">
                <input type="submit" value="查詢" class="btn btn-info" id="Submit1" onclick="return Confirm_Form()" />
            </div>
            <div id="divProcessing" class="col-md-1">
                <img src="~/Content/ajax-loader.gif">
            </div>
        </div>
    </form>
</div>

<!--公司費用預算執行列表區域-->
<div class="container-fluid">

    @if (null != Model)
    {
        Html.RenderPartial("_SiteExpBudgetList");
    }
</div>

<script>
    $(document).ready(function () {
        // Hide the "busy" Gif at load:
        $("#divProcessing").hide();
        // Attach click handler to the submit button:
        $('#Submit1').click(function () {
            var method1 = $('input[name=searchKey]:radio:checked').val();
            if (method1 == "S" && $("#yearSequence").val() != "" || method1 == "D" && $("#date").val() != "") {
                $("#divProcessing").show();
            }
        });
        $(function () {
            $('#date').datetimepicker({
                format: 'YYYY/MM',
                locale: 'zh-tw'
            });
        });
    });
    function Confirm_Form() {
        var method1 = $('input[name=searchKey]:radio:checked').val();
        if (method1 == "S" && $("#yearSequence").val() == "") {
            alert("年度欄位不可空白，請輸入要查詢的年度序數!!");
            return false;
        }
        if (method1 == "D" && $("#date").val() == "") {
            alert("年月累計欄位不可空白，請選取要查詢的年月!!");
            return false;
        }
    }

</script>

