@model topmeperp.Models.ExpenseBudgetModel
@{
    ViewBag.Title = "工地費用預算執行彙整表";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<div class="container">
    <h3 style="padding-bottom:5px;">工地費用預算執行彙整表 : </h3>
    <div class="row">
        <form name="formSearchSiteExpSummary" id="formSearchSiteExpSummary" action="/Estimation/SearchSiteExpSummary" method="Post" class="form-inline">
            <input id="projectid" name="projectid" type="hidden" value="@ViewBag.projectid" />
            <div class="col-md-6">
                <label for="projectName">專案名稱:</label>
                <input id="projectName" name="projectName" type="text" value="@ViewBag.projectName" class="form-control" style="background-color:#cccccc; width:300px" readonly="readonly" />
                <a class="btn btn-link" href="/Estimation/downLoadSiteExpenseSummary?projectid=@ViewBag.projectid" target="_blank"><span style="color :magenta;">下載彙整表</span></a>
            </div>
            <div class="row col-md-4">
                <label for="date">輸入年 :</label> <input id="date" name="date" type="text" value="" style="width:250px" class="form-control" placeholder="請選取要查詢的年" />
            </div>
            <div class="col-md-2 pull-left">
                <input type="submit" value="查詢" class="btn btn-info" id="Submit1" onclick="return Confirm_Form()" />
                <div id="divProcessing">
                    <img src="~/Content/ajax-loader.gif">
                </div>
            </div>

        </form>
    </div>
</div>

<!--公司費用預算執行列表區域-->
<div class="container">

    @if (null != Model)
    {
        Html.RenderPartial("_SiteExpBudgetList");
    }
</div>

<script>
    $(document).ready(function () {
        // Hide the "busy" Gif at load:
        $("#divProcessing").hide();
        // Attach click handler to the submit button:
        $('#Submit1').click(function () {
            var method1 = $('input[name=searchKey]:radio:checked').val();
            if (method1 == "S" && $("#yearSequence").val() != "" || method1 == "D" && $("#date").val() != "") {
                $("#divProcessing").show();
            }
        });
        $(function () {
            $('#date').datetimepicker({
                format: 'YYYY',
                locale: 'zh-tw'
            });
        });
    });
    function Confirm_Form() {
        //var method1 = $('input[name=searchKey]:radio:checked').val();
        //if (method1 == "S" && $("#yearSequence").val() == "") {
        //    alert("年度欄位不可空白，請輸入要查詢的年度序數!!");
        //    return false;
        //}
        if ($("#date").val() == "") {
            alert("年月累計欄位不可空白，請選取要查詢的年月!!");
            return false;
        }
        return true;
    }
</script>

