@{
    ViewBag.Title = "專案執行-廠商估驗計價";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<!--標單項目搜尋區條件區域-->
<div class="container" style="margin:3px">
    <div class="row bg-primary" >
        <div class="col-md-12">
            <label for="projectId" class="col-md-2">專案編號:@ViewBag.projectId</label>
            <label for="projectName" class="col-md-8">專案名稱:@ViewBag.projectName</label>
            <div class="col-md-2 pull-right">
                <input type="button" class="btn btn-success" onclick="history.back()" value="回上一頁">
            </div>
        </div>
        <div class="col-md-12">
            請點擊下列為估驗之驗收單，進行估驗作業!!
        </div>
    </div>
</div>
<!--標單項目列表區域-->
<div class="container-fluid">
    @if (null != Model)
    {
        Html.RenderPartial("_SupplierContractList");
    }

</div>

<script type="text/javascript">
    $(document).ready(function () {
        // Hide the "busy" Gif at load:
        $("#divProcessing").hide();
        // Attach click handler to the submit button:
        $('#Submit1').click(function () {
            $("#divProcessing").show();
        });
    });
</script>

