@model IEnumerable<topmeperp.Models.COMPARASION_DATA_4PLAN>
<div class="container">
    <div>
        <table class="table">
            <tr>
                <th>
                    採購項目名稱 :
                </th>
                <th>
                    <span style="color: black; font-size:large;">預算金額 :  </span>
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FORM_NAME)
                    </td>
                    <td>
                        <span style="border:2px red solid; padding:5px; color: red; font-size: 18px;">@Html.DisplayFor(modelItem => item.BAmount)</span>
                    </td>
                </tr>
            }
        </table>
    </div>
    @ViewBag.ResultMsg
    @Html.Raw(ViewBag.htmlString)
</div>

