@{
    ViewBag.Title = "專案任務管理";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<!--標單項目搜尋區條件區域-->
<div class="page-header">
    <form name="FormCompareProject" id="FormCompareProject" action="" method="Post"  enctype="multipart/form-data" >
        <label class="col-md-3 control-label">專案規劃(Project File): </label>
        <div class='col-md-9'>
            <input type="file" name="file" id="file" />
        </div>
        <div class="row">
            <div class="" col-md-12">
                <input type="submit" value="上傳" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

<div class="container">
    <div class="row" id="comparisonData"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // Hide the "busy" Gif at load:
        $("#divProcessing").hide();
        // Attach click handler to the submit button:
        $('#btnQuery').click(function () {
            $("#divProcessing").show();
        });
    });
    function getComparisonData() {
        //Ajax 功能範例:置換部分網頁內容
        var URLs = "/ProjectCompare/getCompareData";
        $("#divProcessing").show();
        $.ajax({
            url: URLs,
            data: $('#FormCompareProject').serialize(),
            type: "POST",
            dataType: 'html',
            success: function (result) {
                $("#comparisonData").html(result);
                $("#divProcessing").hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);
                $("#divProcessing").hide();
            }
        });
    }
</script>
