@{
    ViewBag.Title = "供應商管理";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<!--搜尋條件區域-->
<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <form name="FormSearchSupplier" id="FormSearchSupplier" action="Search" method="Post">
                <div class="col-md-9 form-group">
                    <label class="control-label col-md-3 " for="textSupplierName">供應商名稱:</label>
                    <input class="form-control col-md-6 " id="textSupplierName" name="textSupplierName" type="text" />
                    <div id="divProcessing">
                        <img src="~/Content/ajax-loader.gif">
                    </div>
                    <div class="col-md-1">
                        <input id="Submit1" type="submit" class="btn btn-info" value="查詢" />
                    </div>
                    <div class="col-md-2 pull-right">
                        <a href="Create" class="btn btn-warning">新增供應商</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--供應商基本資料區域-->
<div class="container">
    @ViewBag.SearchResult
    @if (null != Model)
    {
        Html.RenderPartial("SupplierList");
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        // Hide the "busy" Gif at load:
        $("#divProcessing").hide();
        // Attach click handler to the submit button:
        $('#Submit1').click(function () {
            $("#divProcessing").show();
        });
    });
</script>

