<div class="container">
    @if (null != Model.tndTemplateProjectForm)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>編號</th>
                    <th>詢價單名稱</th>
                    <th>下載連結</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.tndTemplateProjectForm)
                {
                    <tr>
                        <td>@item.FORM_ID</td>
                        <td>@item.FORM_NAME</td>
                        <td><a href='@("../UploadFile/"+ViewBag.projectid+"/"+item.FORM_ID+".xlsx")'>下載</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>尚未建立相關詢價單樣板，請<a href="#">連結</a>建立空白詢價單!!</p>
    }
</div>