@{
    ViewBag.Title = "FormTemplate";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-12"><h2>協成水電工程事業有限公司</h2></div>
        <div class="col-md-12"><h3>採購詢價單</h3></div>
    </div><br />
    <form name="FormSearchProject" id="FormSearchProject" action="" method="Post">
        <div class="row">
            <div class="col-md-4">專案名稱：<input id="projectid" name="projectid" type="text" value="@ViewBag.projectid" /></div>
            <div class="col-md-4">廠商名稱：<input type="text" id='textbox1' name="textbox1" /></div>
        </div>
        <div class="row">
            <div class="col-md-4">採購項目：<input type="text" id='textbox2' name="textbox2" /></div>
            <div class="col-md-4">聯絡人:</div>
        </div>
        <div class="row">
            <div class="col-md-4">承辦人：</div>
            <div class="col-md-4">E-mail：</div>
        </div>
        <div class="row">
            <div class="col-md-4">聯絡電話：</div>
            <div class="col-md-4">報價期限：</div>
        </div>
        <div class="row">
            <div class="col-md-4">承辦人E-mail：</div>
            <div class="col-md-4">詢價單編號：</div>
        </div>
        <div class="row">
            <div class="col-md-4">承辦人傳真：</div>
        </div>
    </form>
</div>
