@{
    ViewBag.Title = "使用者帳號管理";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<!--搜尋條件區域-->
<div class="jumbotron">
    <div class="row"><h5>@ViewBag.Title</h5></div>
    <form name="formSearch" id="formSearch" action="" method="Post">
        <div class="row form-group">
            <div class="col-md-12">
                <div class="col-md-3">
                    帳號: <input id="userid" name="userid" type="text" class="form-control" />
                </div>
                <div class="col-md-3">
                    姓名: <input id="username" name="username" type="text" class="form-control" />
                </div>
                <div class="col-md-3">
                    電話: <input id="tel" name="tel" type="text" class="form-control"/>
                </div>
                <div class="col-md-3">
                   角色: @Html.DropDownList("roles", null, String.Empty, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:10px;">
            <div class="col-md-12">
                <input class="btn btn-info" id="Submit1" type="submit" value="查詢" />
                <div id="divProcessing">
                    <img src="~/Content/ajax-loader.gif">
                </div>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#userInfo">新增使用者</button>
            </div>
        </div>
    </form>

    <!-- Modal :對話框-->
    <div class="modal fade" id="userInfo" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <form id="formUser" name="formUser" action="addUser" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">使用者資料</h4>
                    </div>
                    <div class="modal-body form-group">
                        <div class="row form-group"><div class="col-md-4">帳號</div><div class="col-md-8"><input type="text" id="u_userid" name="u_userid" class="form-control" /></div></div>
                        <div class="row form-group"><div class="col-md-4">姓名</div><div class="col-md-8"><input type="text" id="u_name" name="u_name"  class="form-control"/></div></div>
                        <div class="row form-group"><div class="col-sm-4">密碼</div><div class="col-md-8"><input type="password" id="u_password" name="u_password"  class="form-control"/></div></div>
                        <div class="row form-group"><div class="col-md-4">確認密碼</div><div class="col-md-8"><input type="password" id="u_confirmpwd" name="u_confirmpwd" class="form-control"/></div></div>
                        <div class="row form-group"><div class="col-md-4">EMail</div><div class="col-md-8"><input type="text" id="u_email" name="u_email"  class="form-control"/></div></div>
                        <div class="row form-group"><div class="col-md-4">電話</div><div class="col-md-8"><input type="text" id="u_tel" name="u_tel"  class="form-control"/></div></div>
                        <div class="row form-group"><div class="col-md-4">分機</div><div class="col-md-8"><input type="text" id="u_tel_ext" name="u_tel_ext"  class="form-control"/></div></div>
                        <div class="row form-group"><div class="col-md-4">手機</div><div class="col-md-8"><input type="text" id="u_mobile" name="u_mobile"  class="form-control"/></div></div>
                        <div class="row form-group">
                            <div class="col-md-4">角色(權限)</div><div class="col-md-8">
                                @Html.DropDownList("roles",null,String.Empty, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">關閉</button>
                        <button type="submit" class="btn btn-default" data-dismiss="modal" id="saveUser">儲存</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!--帳號資料清單-->
<div class="container">
    @ViewBag.SearchResult
    @if (null != Model)
    {
        Html.RenderPartial("UserList");
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#saveUser").click(function () {
            //Ajax 功能範例
            // alert($('#formUser').serialize());
            //alert($('#formSearch').serialize());
            if ($("#u_userid").val() == "") { alert("帳號欄位不可為空白!!"); return false; }
            if ($("#u_password").val() == "") { alert("密碼不可為空白!!"); return false; }
            if ($("#u_password").val() != $("#u_confirmpwd").val()) { alert("密碼與確認密碼必須相同!!"); return false; }
            //特殊JQuery 選擇器
            if ($("form[name='formUser'] select[name='roles']").val() == "") { alert("請設定使用者角色!!"); return false; }
            var URLs = "addUser";
            $.ajax({
                url: URLs,
                data: $('#formUser').serialize(),
                type: "POST",
                dataType: 'text',
                success: function (msg) {
                    alert(msg);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });
        });

        // Hide the "busy" Gif at load:
        $("#divProcessing").hide();
        // Attach click handler to the submit button:
        $('#login').click(function () {
            $("#divProcessing").show();
        });
    });
</script>
